/*    */
/* grid */
.col, .container,
.container--fluid {
  padding-top: calc(var(--gtrY) * 0.5);
  padding-bottom: calc(var(--gtrY) * 0.5);
  padding-left: calc(var(--gtrX) * 0.5);
  padding-right: calc(var(--gtrX) * 0.5);
}

.container,
.container--fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  --gtrX: 0px;
  --gtrY: 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--gtrY) * -1);
  margin-bottom: calc(var(--gtrY) * -1);
  margin-left: calc(var(--gtrX) * -0.5);
  margin-right: calc(var(--gtrX) * -0.5);
}

.col {
  flex-shrink: 0;
}

/* xs : 0px  */
@media (min-width: 0px) {
  /* container width */
  .container {
    max-width: 100%;
  }
  /* gutter */
  .gX-xs-0 {
    --gtrX: 0px;
  }
  .gY-xs-0 {
    --gtrY: 0px;
  }
  .gX-xs-5 {
    --gtrX: 5px;
  }
  .gY-xs-5 {
    --gtrY: 5px;
  }
  .gX-xs-10 {
    --gtrX: 10px;
  }
  .gY-xs-10 {
    --gtrY: 10px;
  }
  .gX-xs-15 {
    --gtrX: 15px;
  }
  .gY-xs-15 {
    --gtrY: 15px;
  }
  .gX-xs-20 {
    --gtrX: 20px;
  }
  .gY-xs-20 {
    --gtrY: 20px;
  }
  .gX-xs-25 {
    --gtrX: 25px;
  }
  .gY-xs-25 {
    --gtrY: 25px;
  }
  .gX-xs-30 {
    --gtrX: 30px;
  }
  .gY-xs-30 {
    --gtrY: 30px;
  }
  .gX-xs-35 {
    --gtrX: 35px;
  }
  .gY-xs-35 {
    --gtrY: 35px;
  }
  .gX-xs-40 {
    --gtrX: 40px;
  }
  .gY-xs-40 {
    --gtrY: 40px;
  }
  .gX-xs-45 {
    --gtrX: 45px;
  }
  .gY-xs-45 {
    --gtrY: 45px;
  }
  .gX-xs-50 {
    --gtrX: 50px;
  }
  .gY-xs-50 {
    --gtrY: 50px;
  }
  .gX-xs-55 {
    --gtrX: 55px;
  }
  .gY-xs-55 {
    --gtrY: 55px;
  }
  .gX-xs-60 {
    --gtrX: 60px;
  }
  .gY-xs-60 {
    --gtrY: 60px;
  }
  /* col in row */
  .row-cols-xs-1 > * {
    width: 100%;
  }
  .row-cols-xs-2 > * {
    width: 50%;
  }
  .row-cols-xs-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-xs-4 > * {
    width: 25%;
  }
  .row-cols-xs-5 > * {
    width: 20%;
  }
  .row-cols-xs-6 > * {
    width: 16.6666666667%;
  }
  .row-cols-xs-7 > * {
    width: 14.2857142857%;
  }
  .row-cols-xs-8 > * {
    width: 12.5%;
  }
  .row-cols-xs-9 > * {
    width: 11.1111111111%;
  }
  .row-cols-xs-10 > * {
    width: 10%;
  }
  .row-cols-xs-11 > * {
    width: 9.0909090909%;
  }
  .row-cols-xs-12 > * {
    width: 8.3333333333%;
  }
  /* col span */
  .col-xs-1 {
    width: 8.3333333333%;
  }
  .col-xs-2 {
    width: 16.6666666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.3333333333%;
  }
  .col-xs-5 {
    width: 41.6666666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.3333333333%;
  }
  .col-xs-8 {
    width: 66.6666666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.3333333333%;
  }
  .col-xs-11 {
    width: 91.6666666667%;
  }
  .col-xs-12 {
    width: 100%;
  }
  /* offset */
  .offset-xs-0 {
    margin-left: 0%;
  }
  .offset-xs-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xs-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xs-3 {
    margin-left: 25%;
  }
  .offset-xs-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xs-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xs-6 {
    margin-left: 50%;
  }
  .offset-xs-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xs-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xs-9 {
    margin-left: 75%;
  }
  .offset-xs-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xs-11 {
    margin-left: 91.6666666667%;
  }
  .offset-xs-12 {
    margin-left: 100%;
  }
}
/* sm : 576px  */
@media (min-width: 576px) {
  /* container width */
  .container {
    max-width: 100%;
  }
  /* gutter */
  .gX-sm-0 {
    --gtrX: 0px;
  }
  .gY-sm-0 {
    --gtrY: 0px;
  }
  .gX-sm-5 {
    --gtrX: 5px;
  }
  .gY-sm-5 {
    --gtrY: 5px;
  }
  .gX-sm-10 {
    --gtrX: 10px;
  }
  .gY-sm-10 {
    --gtrY: 10px;
  }
  .gX-sm-15 {
    --gtrX: 15px;
  }
  .gY-sm-15 {
    --gtrY: 15px;
  }
  .gX-sm-20 {
    --gtrX: 20px;
  }
  .gY-sm-20 {
    --gtrY: 20px;
  }
  .gX-sm-25 {
    --gtrX: 25px;
  }
  .gY-sm-25 {
    --gtrY: 25px;
  }
  .gX-sm-30 {
    --gtrX: 30px;
  }
  .gY-sm-30 {
    --gtrY: 30px;
  }
  .gX-sm-35 {
    --gtrX: 35px;
  }
  .gY-sm-35 {
    --gtrY: 35px;
  }
  .gX-sm-40 {
    --gtrX: 40px;
  }
  .gY-sm-40 {
    --gtrY: 40px;
  }
  .gX-sm-45 {
    --gtrX: 45px;
  }
  .gY-sm-45 {
    --gtrY: 45px;
  }
  .gX-sm-50 {
    --gtrX: 50px;
  }
  .gY-sm-50 {
    --gtrY: 50px;
  }
  .gX-sm-55 {
    --gtrX: 55px;
  }
  .gY-sm-55 {
    --gtrY: 55px;
  }
  .gX-sm-60 {
    --gtrX: 60px;
  }
  .gY-sm-60 {
    --gtrY: 60px;
  }
  /* col in row */
  .row-cols-sm-1 > * {
    width: 100%;
  }
  .row-cols-sm-2 > * {
    width: 50%;
  }
  .row-cols-sm-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    width: 25%;
  }
  .row-cols-sm-5 > * {
    width: 20%;
  }
  .row-cols-sm-6 > * {
    width: 16.6666666667%;
  }
  .row-cols-sm-7 > * {
    width: 14.2857142857%;
  }
  .row-cols-sm-8 > * {
    width: 12.5%;
  }
  .row-cols-sm-9 > * {
    width: 11.1111111111%;
  }
  .row-cols-sm-10 > * {
    width: 10%;
  }
  .row-cols-sm-11 > * {
    width: 9.0909090909%;
  }
  .row-cols-sm-12 > * {
    width: 8.3333333333%;
  }
  /* col span */
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  /* offset */
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .offset-sm-12 {
    margin-left: 100%;
  }
}
/* md : 768px  */
@media (min-width: 768px) {
  /* container width */
  .container {
    max-width: 720px;
  }
  /* gutter */
  .gX-md-0 {
    --gtrX: 0px;
  }
  .gY-md-0 {
    --gtrY: 0px;
  }
  .gX-md-5 {
    --gtrX: 5px;
  }
  .gY-md-5 {
    --gtrY: 5px;
  }
  .gX-md-10 {
    --gtrX: 10px;
  }
  .gY-md-10 {
    --gtrY: 10px;
  }
  .gX-md-15 {
    --gtrX: 15px;
  }
  .gY-md-15 {
    --gtrY: 15px;
  }
  .gX-md-20 {
    --gtrX: 20px;
  }
  .gY-md-20 {
    --gtrY: 20px;
  }
  .gX-md-25 {
    --gtrX: 25px;
  }
  .gY-md-25 {
    --gtrY: 25px;
  }
  .gX-md-30 {
    --gtrX: 30px;
  }
  .gY-md-30 {
    --gtrY: 30px;
  }
  .gX-md-35 {
    --gtrX: 35px;
  }
  .gY-md-35 {
    --gtrY: 35px;
  }
  .gX-md-40 {
    --gtrX: 40px;
  }
  .gY-md-40 {
    --gtrY: 40px;
  }
  .gX-md-45 {
    --gtrX: 45px;
  }
  .gY-md-45 {
    --gtrY: 45px;
  }
  .gX-md-50 {
    --gtrX: 50px;
  }
  .gY-md-50 {
    --gtrY: 50px;
  }
  .gX-md-55 {
    --gtrX: 55px;
  }
  .gY-md-55 {
    --gtrY: 55px;
  }
  .gX-md-60 {
    --gtrX: 60px;
  }
  .gY-md-60 {
    --gtrY: 60px;
  }
  /* col in row */
  .row-cols-md-1 > * {
    width: 100%;
  }
  .row-cols-md-2 > * {
    width: 50%;
  }
  .row-cols-md-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    width: 25%;
  }
  .row-cols-md-5 > * {
    width: 20%;
  }
  .row-cols-md-6 > * {
    width: 16.6666666667%;
  }
  .row-cols-md-7 > * {
    width: 14.2857142857%;
  }
  .row-cols-md-8 > * {
    width: 12.5%;
  }
  .row-cols-md-9 > * {
    width: 11.1111111111%;
  }
  .row-cols-md-10 > * {
    width: 10%;
  }
  .row-cols-md-11 > * {
    width: 9.0909090909%;
  }
  .row-cols-md-12 > * {
    width: 8.3333333333%;
  }
  /* col span */
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  /* offset */
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .offset-md-12 {
    margin-left: 100%;
  }
}
/* lg : 992px  */
@media (min-width: 992px) {
  /* container width */
  .container {
    max-width: 960px;
  }
  /* gutter */
  .gX-lg-0 {
    --gtrX: 0px;
  }
  .gY-lg-0 {
    --gtrY: 0px;
  }
  .gX-lg-5 {
    --gtrX: 5px;
  }
  .gY-lg-5 {
    --gtrY: 5px;
  }
  .gX-lg-10 {
    --gtrX: 10px;
  }
  .gY-lg-10 {
    --gtrY: 10px;
  }
  .gX-lg-15 {
    --gtrX: 15px;
  }
  .gY-lg-15 {
    --gtrY: 15px;
  }
  .gX-lg-20 {
    --gtrX: 20px;
  }
  .gY-lg-20 {
    --gtrY: 20px;
  }
  .gX-lg-25 {
    --gtrX: 25px;
  }
  .gY-lg-25 {
    --gtrY: 25px;
  }
  .gX-lg-30 {
    --gtrX: 30px;
  }
  .gY-lg-30 {
    --gtrY: 30px;
  }
  .gX-lg-35 {
    --gtrX: 35px;
  }
  .gY-lg-35 {
    --gtrY: 35px;
  }
  .gX-lg-40 {
    --gtrX: 40px;
  }
  .gY-lg-40 {
    --gtrY: 40px;
  }
  .gX-lg-45 {
    --gtrX: 45px;
  }
  .gY-lg-45 {
    --gtrY: 45px;
  }
  .gX-lg-50 {
    --gtrX: 50px;
  }
  .gY-lg-50 {
    --gtrY: 50px;
  }
  .gX-lg-55 {
    --gtrX: 55px;
  }
  .gY-lg-55 {
    --gtrY: 55px;
  }
  .gX-lg-60 {
    --gtrX: 60px;
  }
  .gY-lg-60 {
    --gtrY: 60px;
  }
  /* col in row */
  .row-cols-lg-1 > * {
    width: 100%;
  }
  .row-cols-lg-2 > * {
    width: 50%;
  }
  .row-cols-lg-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    width: 25%;
  }
  .row-cols-lg-5 > * {
    width: 20%;
  }
  .row-cols-lg-6 > * {
    width: 16.6666666667%;
  }
  .row-cols-lg-7 > * {
    width: 14.2857142857%;
  }
  .row-cols-lg-8 > * {
    width: 12.5%;
  }
  .row-cols-lg-9 > * {
    width: 11.1111111111%;
  }
  .row-cols-lg-10 > * {
    width: 10%;
  }
  .row-cols-lg-11 > * {
    width: 9.0909090909%;
  }
  .row-cols-lg-12 > * {
    width: 8.3333333333%;
  }
  /* col span */
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  /* offset */
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .offset-lg-12 {
    margin-left: 100%;
  }
}
/* xl : 1200px  */
@media (min-width: 1200px) {
  /* container width */
  .container {
    max-width: 1140px;
  }
  /* gutter */
  .gX-xl-0 {
    --gtrX: 0px;
  }
  .gY-xl-0 {
    --gtrY: 0px;
  }
  .gX-xl-5 {
    --gtrX: 5px;
  }
  .gY-xl-5 {
    --gtrY: 5px;
  }
  .gX-xl-10 {
    --gtrX: 10px;
  }
  .gY-xl-10 {
    --gtrY: 10px;
  }
  .gX-xl-15 {
    --gtrX: 15px;
  }
  .gY-xl-15 {
    --gtrY: 15px;
  }
  .gX-xl-20 {
    --gtrX: 20px;
  }
  .gY-xl-20 {
    --gtrY: 20px;
  }
  .gX-xl-25 {
    --gtrX: 25px;
  }
  .gY-xl-25 {
    --gtrY: 25px;
  }
  .gX-xl-30 {
    --gtrX: 30px;
  }
  .gY-xl-30 {
    --gtrY: 30px;
  }
  .gX-xl-35 {
    --gtrX: 35px;
  }
  .gY-xl-35 {
    --gtrY: 35px;
  }
  .gX-xl-40 {
    --gtrX: 40px;
  }
  .gY-xl-40 {
    --gtrY: 40px;
  }
  .gX-xl-45 {
    --gtrX: 45px;
  }
  .gY-xl-45 {
    --gtrY: 45px;
  }
  .gX-xl-50 {
    --gtrX: 50px;
  }
  .gY-xl-50 {
    --gtrY: 50px;
  }
  .gX-xl-55 {
    --gtrX: 55px;
  }
  .gY-xl-55 {
    --gtrY: 55px;
  }
  .gX-xl-60 {
    --gtrX: 60px;
  }
  .gY-xl-60 {
    --gtrY: 60px;
  }
  /* col in row */
  .row-cols-xl-1 > * {
    width: 100%;
  }
  .row-cols-xl-2 > * {
    width: 50%;
  }
  .row-cols-xl-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    width: 25%;
  }
  .row-cols-xl-5 > * {
    width: 20%;
  }
  .row-cols-xl-6 > * {
    width: 16.6666666667%;
  }
  .row-cols-xl-7 > * {
    width: 14.2857142857%;
  }
  .row-cols-xl-8 > * {
    width: 12.5%;
  }
  .row-cols-xl-9 > * {
    width: 11.1111111111%;
  }
  .row-cols-xl-10 > * {
    width: 10%;
  }
  .row-cols-xl-11 > * {
    width: 9.0909090909%;
  }
  .row-cols-xl-12 > * {
    width: 8.3333333333%;
  }
  /* col span */
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
  /* offset */
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .offset-xl-12 {
    margin-left: 100%;
  }
}
/* xxl : 1400px  */
@media (min-width: 1400px) {
  /* container width */
  .container {
    max-width: 1320px;
  }
  /* gutter */
  .gX-xxl-0 {
    --gtrX: 0px;
  }
  .gY-xxl-0 {
    --gtrY: 0px;
  }
  .gX-xxl-5 {
    --gtrX: 5px;
  }
  .gY-xxl-5 {
    --gtrY: 5px;
  }
  .gX-xxl-10 {
    --gtrX: 10px;
  }
  .gY-xxl-10 {
    --gtrY: 10px;
  }
  .gX-xxl-15 {
    --gtrX: 15px;
  }
  .gY-xxl-15 {
    --gtrY: 15px;
  }
  .gX-xxl-20 {
    --gtrX: 20px;
  }
  .gY-xxl-20 {
    --gtrY: 20px;
  }
  .gX-xxl-25 {
    --gtrX: 25px;
  }
  .gY-xxl-25 {
    --gtrY: 25px;
  }
  .gX-xxl-30 {
    --gtrX: 30px;
  }
  .gY-xxl-30 {
    --gtrY: 30px;
  }
  .gX-xxl-35 {
    --gtrX: 35px;
  }
  .gY-xxl-35 {
    --gtrY: 35px;
  }
  .gX-xxl-40 {
    --gtrX: 40px;
  }
  .gY-xxl-40 {
    --gtrY: 40px;
  }
  .gX-xxl-45 {
    --gtrX: 45px;
  }
  .gY-xxl-45 {
    --gtrY: 45px;
  }
  .gX-xxl-50 {
    --gtrX: 50px;
  }
  .gY-xxl-50 {
    --gtrY: 50px;
  }
  .gX-xxl-55 {
    --gtrX: 55px;
  }
  .gY-xxl-55 {
    --gtrY: 55px;
  }
  .gX-xxl-60 {
    --gtrX: 60px;
  }
  .gY-xxl-60 {
    --gtrY: 60px;
  }
  /* col in row */
  .row-cols-xxl-1 > * {
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    width: 16.6666666667%;
  }
  .row-cols-xxl-7 > * {
    width: 14.2857142857%;
  }
  .row-cols-xxl-8 > * {
    width: 12.5%;
  }
  .row-cols-xxl-9 > * {
    width: 11.1111111111%;
  }
  .row-cols-xxl-10 > * {
    width: 10%;
  }
  .row-cols-xxl-11 > * {
    width: 9.0909090909%;
  }
  .row-cols-xxl-12 > * {
    width: 8.3333333333%;
  }
  /* col span */
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
  /* offset */
  .offset-xxl-0 {
    margin-left: 0%;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .offset-xxl-12 {
    margin-left: 100%;
  }
}

/*# sourceMappingURL=grid.css.map */
